<!-- 
//Skye Waddell Node.JS | Day 8 - 13 CPNT-262
//May 2024 
-->

<%- include("./components/header", { title: "Home" }) -%>
<body>
    <% if (userData) { %>
        <%- include("./components/navbarLoggedin") -%>
    <% } else { %>
        <%- include("./components/navbar") -%>
    <% } %>
    <main>
        <section class="mainWrapper">
          <%- include("./components/sidebar") -%>
            <div class="postContainer">
                <%- include("./components/newpost") -%>

                <form action="/delete-users" method="POST">
                 <button id="deleteUsers" class="btn btn-danger">Delete All Users from Database Button (DONT PRESS UNLESS YOU WANT TO)</button>
                </form>

                <% postData.forEach(post => { %>
                    <%- include("./components/post", { post: post }) -%>
                <% }); %>
            </div>
        </section>
        <div class="dividerBottom"></div>
    </main>
    <%- include("./components/footer") -%>
</body>
