<%- include("./components/header", { title: "Sign Up" }) -%>
<body>
    <%- include("./components/navbar") -%>
    <main>
        <section class="mainWrapper">
            <% if (userData) { %>
                <%- include("./components/sidebar") -%>
           <% } else { %>
                <%- include("./components/sidebarWelcome") -%>
           <% } %>
        <%- include("./components/signupForm") -%>
        </section>
    </main>
    <%- include("./components/footer") -%>
</body>
