<!-- 
//Skye Waddell Node.JS | Day 8 - 13 CPNT-262
//May 2024 
-->

<%- include("./components/header", { title: "404 Page Not Found" }) -%>
<body>
    <% if (userData) { %>
        <%- include("./components/navbarLoggedin") -%>
    <% } else { %>
        <%- include("./components/navbar") -%>
    <% } %>
    <main>
        <section class="mainWrapper">
        <% if (userData) { %>
             <%- include("./components/sidebar") -%>
        <% } else { %>
             <%- include("./components/sidebarWelcome") -%>
        <% } %>

        <%- include("./components/404form") -%>

        </section>
    </main>
    <%- include("./components/footer") -%>
</body>
